# Trial 3

In [82]:
!pip install autogluon.features --no-deps
!pip install toolz
!pip install gluonts --no-deps
!pip install mlforecast
!pip install autogluon.tabular[lightgbm]==1.1.1

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: autogluon.features in /home/yoon/.local/lib/python3.10/site-packages (1.1.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: toolz in /home/yoon/.local/lib/python3.10/site-packages (1.0.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gluonts in /home/yoon/.local/lib/python3.10/site-packages (0.15.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlforecast in /home/yoon/.local/lib/python3.10/site-packages (0.13.5)
Requirement already satisfied: cloudpickle in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (3.1.0)
Requirement already satisfied: coreforecast>=0.0.11 in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (0.0.13.1)
Requirement already satisfied: fsspec in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (2024.9.0)
Requirement already satisfied: numba in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (0.60.0)
Requirement already satisfied: optuna in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (4.0.0)
Requirement already satisfied: packaging in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (24.1)
Requirement already satisfied: pandas in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (2.2.3)
Requirement already satisfied: scikit-learn in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (1.5.2)
Requirement already satisfied: utilsforecast>=0.2.3 in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (0.2.7)
Requirement already satisfied: window-ops in /home/yoon/.local/lib/python3.10/site-packages (from mlforecast) (0.0.15)
Requirement already satisfied: numpy>=1.20.0 in /home/yoon/.local/lib/python3.10/site-packages (from coreforecast>=0.0.11->mlforecast) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/yoon/.local/lib/python3.10/site-packages (from pandas->mlforecast) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas->mlforecast) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/yoon/.local/lib/python3.10/site-packages (from pandas->mlforecast) (2024.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /home/yoon/.local/lib/python3.10/site-packages (from numba->mlforecast) (0.43.0)
Requirement already satisfied: alembic>=1.5.0 in /home/yoon/.local/lib/python3.10/site-packages (from optuna->mlforecast) (1.13.3)
Requirement already satisfied: colorlog in /home/yoon/.local/lib/python3.10/site-packages (from optuna->mlforecast) (6.8.2)
Requirement already satisfied: sqlalchemy>=1.3.0 in /home/yoon/.local/lib/python3.10/site-packages (from optuna->mlforecast) (2.0.36)
Requirement already satisfied: tqdm in /home/yoon/.local/lib/python3.10/site-packages (from optuna->mlforecast) (4.66.5)
Requirement already satisfied: PyYAML in /usr/lib/python3/dist-packages (from optuna->mlforecast) (5.4.1)
Requirement already satisfied: scipy>=1.6.0 in /home/yoon/.local/lib/python3.10/site-packages (from scikit-learn->mlforecast) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /home/yoon/.local/lib/python3.10/site-packages (from scikit-learn->mlforecast) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/yoon/.local/lib/python3.10/site-packages (from scikit-learn->mlforecast) (3.5.0)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic>=1.5.0->optuna->mlforecast) (1.1.3)
Requirement already satisfied: typing-extensions>=4 in /home/yoon/.local/lib/python3.10/site-packages (from alembic>=1.5.0->optuna->mlforecast) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas->mlforecast) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/yoon/.local/lib/python3.10/site-packages (from sqlalchemy>=1.3.0->optuna->mlforecast) (3.1.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: autogluon.tabular==1.1.1 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular[lightgbm]==1.1.1) (1.1.1)
Requirement already satisfied: numpy<1.29,>=1.21 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.23.5)
Collecting scipy<1.13,>=1.5.4 (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached scipy-1.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: pandas<2.3.0,>=2.0.0 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2.2.3)
Collecting scikit-learn<1.4.1,>=1.3.0 (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached scikit_learn-1.4.0-1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: networkx<4,>=3.0 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (3.3)
Requirement already satisfied: autogluon.core==1.1.1 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.1.1)
Requirement already satisfied: autogluon.features==1.1.1 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.1.1)
Collecting lightgbm<4.4,>=3.3 (from autogluon.tabular[lightgbm]==1.1.1)
  Using cached lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl.metadata (19 kB)
Requirement already satisfied: tqdm<5,>=4.38 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (4.66.5)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2.25.1)
Requirement already satisfied: matplotlib in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (3.9.2)
Collecting boto3<2,>=1.10 (from autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached boto3-1.35.49-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: autogluon.common==1.1.1 in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.1.1)
Collecting psutil<6,>=5.7.3 (from autogluon.common==1.1.1->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached psutil-5.9.8-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (21 kB)
Requirement already satisfied: setuptools in /home/yoon/.local/lib/python3.10/site-packages (from autogluon.common==1.1.1->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (75.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/yoon/.local/lib/python3.10/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas<2.3.0,>=2.0.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/yoon/.local/lib/python3.10/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /home/yoon/.local/lib/python3.10/site-packages (from scikit-learn<1.4.1,>=1.3.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/yoon/.local/lib/python3.10/site-packages (from scikit-learn<1.4.1,>=1.3.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (3.5.0)
Collecting botocore<1.36.0,>=1.35.49 (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached botocore-1.35.49-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1)
  Using cached s3transfer-0.10.3-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas<2.3.0,>=2.0.0->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.16.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (24.1)
Requirement already satisfied: pillow>=8 in /home/yoon/.local/lib/python3.10/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (2.4.7)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/lib/python3/dist-packages (from botocore<1.36.0,>=1.35.49->boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.tabular==1.1.1->autogluon.tabular[lightgbm]==1.1.1) (1.26.5)
Downloading lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 4.9 MB/s eta 0:00:00a 0:00:01
Downloading scikit_learn-1.4.0-1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 5.9 MB/s eta 0:00:0000:0100:01
Downloading scipy-1.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.4/38.4 MB 7.0 MB/s eta 0:00:0000:0100:01
Downloading boto3-1.35.49-py3-none-any.whl (139 kB)
Downloading botocore-1.35.49-py3-none-any.whl (12.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.6/12.6 MB 4.6 MB/s eta 0:00:0000:0100:01
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading psutil-5.9.8-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (288 kB)
Downloading s3transfer-0.10.3-py3-none-any.whl (82 kB)
Installing collected packages: scipy, psutil, jmespath, scikit-learn, lightgbm, botocore, s3transfer, boto3
  Attempting uninstall: scipy
    Found existing installation: scipy 1.14.1
    Uninstalling scipy-1.14.1:
      Successfully uninstalled scipy-1.14.1
  Attempting uninstall: psutil
    Found existing installation: psutil 6.0.0
    Uninstalling psutil-6.0.0:
      Successfully uninstalled psutil-6.0.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.2
    Uninstalling scikit-learn-1.5.2:
      Successfully uninstalled scikit-learn-1.5.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autogluon-timeseries 1.1.1 requires accelerate<0.22.0,>=0.21.0, which is not installed.
autogluon-timeseries 1.1.1 requires lightning<2.4,>=2.2, which is not installed.
autogluon-timeseries 1.1.1 requires pytorch-lightning<2.4,>=2.2, which is not installed.
autogluon-timeseries 1.1.1 requires statsforecast<1.5,>=1.4.0, which is not installed.
autogluon-timeseries 1.1.1 requires tensorboard<3,>=2.9, which is not installed.
autogluon-timeseries 1.1.1 requires transformers[sentencepiece]<4.41.0,>=4.38.0, which is not installed.
autogluon-timeseries 1.1.1 requires mlforecast<0.10.1,>=0.10.0, but you have mlforecast 0.13.5 which is incompatible.
autogluon-timeseries 1.1.1 requires torch<2.4,>=2.2, but you have torch 2.0.1 which is incompatible.
autogluon-timeseries 1.1.1 requires utilsforecast<0.0.11,>=0.0.10, but you have utilsforecast 0.2.7 which is incompatible.
Successfully installed boto3-1.35.49 botocore-1.35.49 jmespath-1.0.1 lightgbm-4.3.0 psutil-5.9.8 s3transfer-0.10.3 scikit-learn-1.4.0 scipy-1.12.0

In [2]:
import pandas as pd
import numpy as np  
from autogluon.timeseries import TimeSeriesPredictor, TimeSeriesDataFrame

/home/yoon/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
train_df = pd.read_csv("/home/yoon/Desktop/Others/open/train.csv")
train_df = train_df[['ID', "timestamp", "supply(kg)", "price(원/kg)"]]
train_df

                    ID   timestamp  supply(kg)  price(원/kg)
0      TG_A_J_20190101  2019-01-01         0.0          0.0
1      TG_A_J_20190102  2019-01-02         0.0          0.0
2      TG_A_J_20190103  2019-01-03     60601.0       1728.0
3      TG_A_J_20190104  2019-01-04     25000.0       1408.0
4      TG_A_J_20190105  2019-01-05     32352.0       1250.0
...                ...         ...         ...          ...
59392  RD_F_J_20230227  2023-02-27    452440.0        468.0
59393  RD_F_J_20230228  2023-02-28    421980.0        531.0
59394  RD_F_J_20230301  2023-03-01    382980.0        574.0
59395  RD_F_J_20230302  2023-03-02    477220.0        523.0
59396  RD_F_J_20230303  2023-03-03    427520.0        529.0

[59397 rows x 4 columns]

In [4]:
weather_2019 = pd.read_csv("weather_average2019.csv")
weather_2019.rename(columns={'TM': 'timestamp'}, inplace=True)
weather_2020 = pd.read_csv("weather_average2020.csv")
weather_2020.rename(columns={'TM': 'timestamp'}, inplace=True)

In [5]:
weather_2020

,timestamp,Unnamed: 0,WS_AVG,TA_AVG,TA_MAX,TA_MIN,HM_AVG,SS_DAY,RN_DAY,TA_DIF
0,2020-01-01,3.0,2.271429,-1.471429,3.228571,-6.942857,63.914286,5.328571,0.2,10.171429
1,2020-01-02,10.5,2.037500,2.550000,6.175000,-0.937500,66.725000,4.100000,0.0,7.112500
2,2020-01-03,18.5,1.337500,1.187500,7.400000,-3.075000,68.700000,7.750000,0.0,10.475000
3,2020-01-04,26.5,1.275000,0.925000,7.687500,-4.025000,75.500000,6.687500,1.5,11.712500
4,2020-01-05,34.5,0.787500,-12.062500,8.862500,-6.437500,55.475000,6.912500,0.0,15.300000
...,...,...,...,...,...,...,...,...,...,...
361,2020-12-27,2860.5,1.575000,4.850000,8.587500,0.825000,74.887500,2.025000,22.2,7.762500
362,2020-12-28,2868.5,0.750000,4.225000,12.450000,-0.837500,78.012500,7.375000,0.3,13.287500
363,2020-12-29,2876.5,2.062500,1.837500,7.300000,-1.925000,84.987500,1.500000,18.5,9.225000
364,2020-12-30,2884.5,3.937500,-7.537500,-1.875000,-10.437500,59.587500,6.012500,2.4,8.562500
365,2020-12-31,2892.5,1.987500,-7.275000,-1.625000,-12.962500,61.137500,6.837500,2.0,11.337500

In [6]:
train_df['timestamp'] = pd.to_datetime(train_df['timestamp'])
weather_2019['timestamp'] = pd.to_datetime(weather_2019['timestamp'])
weather_2020['timestamp'] = pd.to_datetime(weather_2020['timestamp'])
weather = pd.concat([weather_2019, weather_2020])

df_concat = pd.merge(train_df, weather, on='timestamp', how='left')
df_concat.dropna(inplace=True)
df_concat

,ID,timestamp,supply(kg),price(원/kg),Unnamed: 0,WS_AVG,TA_AVG,TA_MAX,TA_MIN,HM_AVG,SS_DAY,RN_DAY,TA_DIF
0,TG_A_J_20190101,2019-01-01,0.0,0.0,3.0,2.957143,-3.042857e+00,1.771429,-7.242857,59.214286,5.571429,0.0,9.014286
1,TG_A_J_20190102,2019-01-02,0.0,0.0,10.5,2.800000,-1.437500e+00,3.087500,-5.050000,48.262500,6.487500,0.0,8.137500
2,TG_A_J_20190103,2019-01-03,60601.0,1728.0,18.5,1.312500,-3.150000e+00,4.800000,-9.500000,51.787500,8.650000,0.0,14.300000
3,TG_A_J_20190104,2019-01-04,25000.0,1408.0,26.5,1.275000,-1.300000e+00,4.387500,-7.900000,63.750000,3.775000,0.0,12.287500
4,TG_A_J_20190105,2019-01-05,32352.0,1250.0,34.5,1.750000,-2.775558e-17,5.762500,-5.562500,47.437500,7.037500,0.0,11.325000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58600,RD_F_J_20201227,2020-12-27,0.0,0.0,2860.5,1.575000,4.850000e+00,8.587500,0.825000,74.887500,2.025000,22.2,7.762500
58601,RD_F_J_20201228,2020-12-28,422000.0,606.0,2868.5,0.750000,4.225000e+00,12.450000,-0.837500,78.012500,7.375000,0.3,13.287500
58602,RD_F_J_20201229,2020-12-29,260520.0,648.0,2876.5,2.062500,1.837500e+00,7.300000,-1.925000,84.987500,1.500000,18.5,9.225000
58603,RD_F_J_20201230,2020-12-30,199620.0,686.0,2884.5,3.937500,-7.537500e+00,-1.875000,-10.437500,59.587500,6.012500,2.4,8.562500
58604,RD_F_J_20201231,2020-12-31,323820.0,628.0,2892.5,1.987500,-7.275000e+00,-1.625000,-12.962500,61.137500,6.837500,2.0,11.337500

In [7]:
df_concat['item_id'] = df_concat.ID.str[0:6]
df_concat

,ID,timestamp,supply(kg),price(원/kg),Unnamed: 0,WS_AVG,TA_AVG,TA_MAX,TA_MIN,HM_AVG,SS_DAY,RN_DAY,TA_DIF,item_id
0,TG_A_J_20190101,2019-01-01,0.0,0.0,3.0,2.957143,-3.042857e+00,1.771429,-7.242857,59.214286,5.571429,0.0,9.014286,TG_A_J
1,TG_A_J_20190102,2019-01-02,0.0,0.0,10.5,2.800000,-1.437500e+00,3.087500,-5.050000,48.262500,6.487500,0.0,8.137500,TG_A_J
2,TG_A_J_20190103,2019-01-03,60601.0,1728.0,18.5,1.312500,-3.150000e+00,4.800000,-9.500000,51.787500,8.650000,0.0,14.300000,TG_A_J
3,TG_A_J_20190104,2019-01-04,25000.0,1408.0,26.5,1.275000,-1.300000e+00,4.387500,-7.900000,63.750000,3.775000,0.0,12.287500,TG_A_J
4,TG_A_J_20190105,2019-01-05,32352.0,1250.0,34.5,1.750000,-2.775558e-17,5.762500,-5.562500,47.437500,7.037500,0.0,11.325000,TG_A_J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58600,RD_F_J_20201227,2020-12-27,0.0,0.0,2860.5,1.575000,4.850000e+00,8.587500,0.825000,74.887500,2.025000,22.2,7.762500,RD_F_J
58601,RD_F_J_20201228,2020-12-28,422000.0,606.0,2868.5,0.750000,4.225000e+00,12.450000,-0.837500,78.012500,7.375000,0.3,13.287500,RD_F_J
58602,RD_F_J_20201229,2020-12-29,260520.0,648.0,2876.5,2.062500,1.837500e+00,7.300000,-1.925000,84.987500,1.500000,18.5,9.225000,RD_F_J
58603,RD_F_J_20201230,2020-12-30,199620.0,686.0,2884.5,3.937500,-7.537500e+00,-1.875000,-10.437500,59.587500,6.012500,2.4,8.562500,RD_F_J
58604,RD_F_J_20201231,2020-12-31,323820.0,628.0,2892.5,1.987500,-7.275000e+00,-1.625000,-12.962500,61.137500,6.837500,2.0,11.337500,RD_F_J

In [8]:
data = TimeSeriesDataFrame(df_concat.drop(columns=['ID']))
predictor = TimeSeriesPredictor( 
    prediction_length=30,
    target="price(원/kg)",
    eval_metric="RMSE",
)
# seed 고정
predictor.fit( data, random_seed=42, )

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241026_072033'

=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.12
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #47~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Wed Oct  2 16:16:55 UTC 2
CPU Count:          16
GPU Count:          1
Memory Avail:       4.72 GB / 15.25 GB (30.9%)
Disk Space Avail:   392.96 GB / 467.89 GB (84.0%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': RMSE,
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 30,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 42,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'price(원/kg)',
 'verbosity': 2}

Inferred time series frequency: 'D'
Provided train_data has 28509 rows, 39 time series. Median time series length is 731 (min=731, max=731).

Provided data contains following columns:
	target: 'price(원/kg)'
	past_covariates:
		categorical:        []
		continuous (float): ['supply(kg)', 'Unnamed: 0', 'WS_AVG', 'TA_AVG', 'TA_MAX', 'TA_MIN', ...]

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-10-26 16:20:35
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'Chronos[base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST']
Training timeseries model SeasonalNaive.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	1.25    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	-670.7668     = Validation score (-RMSE)
	31.00   s     = Training runtime
	0.37    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
/home/yoon/.local/lib/python3.10/site-packages/mlforecast/core.py:418: UserWarning: The following series were dropped completely due to the transformations and features: ['BC_A_J', 'BC_A_S', 'BC_B_J', 'BC_B_S', 'BC_C_J', 'BC_C_S', ...].
These series won't show up if you use `MLForecast.forecast_fitted_values()`.
You can set `dropna=False` or use transformations that require less samples to mitigate this
  warnings.warn(
	-1366.3756    = Validation score (-RMSE)
	0.50    s     = Training runtime
	0.09    s     = Validation (prediction) runtime
Training timeseries model CrostonSBA.
	Warning: CrostonSBA/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.07    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-1441.9701    = Validation score (-RMSE)
	0.02    s     = Training runtime
	0.57    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	Warning: DynamicOptimizedTheta/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.06    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.06    s     = Validation (prediction) runtime
Training timeseries model AutoARIMA.
	Warning: AutoARIMA/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.05    s     = Validation (prediction) runtime
Training timeseries model Chronos[base].
	Warning: Exception caused Chronos[base] to fail during training... Skipping this model.
	No module named 'transformers'
Training timeseries model TemporalFusionTransformer.
	Warning: Exception caused TemporalFusionTransformer to fail during training... Skipping this model.
	No module named 'lightning'
Training timeseries model DeepAR.
	Warning: Exception caused DeepAR to fail during training... Skipping this model.
	No module named 'lightning'
Training timeseries model PatchTST.
	Warning: Exception caused PatchTST to fail during training... Skipping this model.
	No module named 'lightning'
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoARIMA': 0.35, 'RecursiveTabular': 0.65}
	-666.6596     = Validation score (-RMSE)
	0.57    s     = Training runtime
	0.41    s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'WeightedEnsemble']
Total runtime: 35.15 s
Best model: WeightedEnsemble
Best model score: -666.6596

In [9]:
predictor.refit_full()

	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	12.94   s     = Training runtime
Fitting model: DirectTabular_FULL
	0.55    s     = Training runtime
Fitting model: CrostonSBA_FULL | Skipping fit via cloning parent ...
Fitting model: NPTS_FULL | Skipping fit via cloning parent ...
Fitting model: DynamicOptimizedTheta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: AutoARIMA_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['SeasonalNaive_FULL', 'RecursiveTabular_FULL', 'DirectTabular_FULL', 'CrostonSBA_FULL', 'NPTS_FULL', 'DynamicOptimizedTheta_FULL', 'AutoETS_FULL', 'AutoARIMA_FULL', 'WeightedEnsemble_FULL']
Total runtime: 13.52 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().

{'SeasonalNaive': 'SeasonalNaive_FULL',
 'RecursiveTabular': 'RecursiveTabular_FULL',
 'DirectTabular': 'DirectTabular_FULL',
 'CrostonSBA': 'CrostonSBA_FULL',
 'NPTS': 'NPTS_FULL',
 'DynamicOptimizedTheta': 'DynamicOptimizedTheta_FULL',
 'AutoETS': 'AutoETS_FULL',
 'AutoARIMA': 'AutoARIMA_FULL',
 'WeightedEnsemble': 'WeightedEnsemble_FULL'}

In [11]:
pred = predictor.predict(data, random_seed=42, )
pred = pred.reset_index()
pred
last_timestamp_df = pred.sort_values('timestamp').groupby('item_id').tail(1).reset_index(drop=True)
last_timestamp_df

Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble_FULL

,item_id,timestamp,mean,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,RD_A_J,2021-01-30,8.003911,-982.809567,-642.683649,-397.428933,-187.867820,8.003912,203.875643,413.436756,658.691472,998.817390
1,CB_D_J,2021-01-30,33.267128,-834.075462,-536.334564,-321.642429,-138.195915,33.267129,204.730173,388.176687,602.868822,900.609720
2,CR_E_S,2021-01-30,15.046144,-1310.360298,-855.375488,-527.299429,-246.970533,15.046144,277.062821,557.391716,885.467775,1340.452586
3,CR_D_S,2021-01-30,24.888937,-149.044589,-89.336781,-46.283251,-9.495597,24.888938,59.273474,96.061128,139.114658,198.822466
4,CB_A_S,2021-01-30,11.514751,-109.971857,-68.267999,-38.196584,-12.501668,11.514752,35.531172,61.226088,91.297503,133.001361
5,CB_E_J,2021-01-30,66.617241,-1754.243053,-1129.179111,-678.464032,-293.344616,66.617241,426.579097,811.698513,1262.413592,1887.477534
6,CR_E_J,2021-01-30,790.953218,-606.678927,-126.900514,219.053476,514.658406,790.953223,1067.248041,1362.852970,1708.806961,2188.585374
7,RD_A_S,2021-01-30,20.686171,-428.478151,-274.289264,-163.108229,-68.108134,20.686171,109.480475,204.480570,315.661606,469.850492
8,CB_A_J,2021-01-30,49.618938,-1817.926502,-1176.836507,-714.565517,-319.572000,49.618940,418.809881,813.803397,1276.074388,1917.164382
9,RD_E_J,2021-01-30,-78.994316,-1415.898597,-956.966815,-626.044711,-343.283976,-78.994316,185.295343,468.056078,798.978182,1257.909964
10,RD_C_S,2021-01-30,14.191644,-83.305692,-49.836859,-25.703475,-5.082389,14.191644,33.465678,54.086764,78.220148,111.688981
11,TG_B_J,2021-01-30,1441.978242,-1690.548005,-615.216078,160.173898,822.716042,1441.978250,2061.240459,2723.782603,3499.172578,4574.504506
12,TG_B_S,2021-01-30,1328.333018,-1186.799346,-323.406055,299.161252,831.122061,1328.333035,1825.544010,2357.504819,2980.072126,3843.465417
13,BC_C_S,2021-01-30,59.956768,-1057.863687,-674.138881,-397.446299,-161.022690,59.956772,280.936233,517.359843,794.052425,1177.777230
14,TG_C_J,2021-01-30,2177.805861,-1735.767251,-392.317972,576.403477,1404.140236,2177.805879,2951.471521,3779.208281,4747.929730,6091.379009
15,BC_C_J,2021-01-30,2549.671686,-1763.777359,-283.058883,784.643314,1696.955474,2549.671709,3402.387944,4314.700104,5382.402301,6863.120777
16,BC_E_J,2021-01-30,2969.698503,486.683601,1339.051643,1953.668970,2478.836814,2969.698568,3460.560321,3985.728165,4600.345492,5452.713534
17,TG_C_S,2021-01-30,1456.217039,-951.294790,-124.845410,471.082738,980.281367,1456.217080,1932.152793,2441.351423,3037.279570,3863.728950
18,BC_B_S,2021-01-30,447.016052,-4712.088668,-2941.073973,-1664.047778,-572.875979,447.016058,1466.908095,2558.079894,3835.106089,5606.120784
19,TG_D_J,2021-01-30,1853.915324,-1371.049198,-263.985105,534.285995,1216.379216,1853.915345,2491.451474,3173.544695,3971.815795,5078.879888
20,BC_B_J,2021-01-30,2792.091255,233.740763,1111.969974,1745.235024,2286.336659,2792.091344,3297.846030,3838.947665,4472.212714,5350.441925
21,TG_A_S,2021-01-30,273.455627,-3665.721863,-2313.483125,-1338.423859,-505.271667,273.455649,1052.182966,1885.335157,2860.394424,4212.633161
22,TG_D_S,2021-01-30,1671.927887,-2288.070941,-928.684657,51.528494,889.084489,1671.927935,2454.771380,3292.327376,4272.540526,5631.926810
23,CB_F_J,2021-01-30,-62.617317,-1724.344315,-1153.907565,-742.582536,-391.120464,-62.617319,265.885827,617.347899,1028.672928,1599.109677
24,BC_A_S,2021-01-30,188.394791,-4781.010659,-3075.115829,-1845.045638,-793.996014,188.394792,1170.785597,2221.835221,3451.905412,5157.800242
25,BC_A_J,2021-01-30,167.356949,-4521.044124,-2911.612325,-1751.098765,-759.482719,167.356952,1094.196623,2085.812669,3246.326229,4855.758028
26,TG_E_S,2021-01-30,1971.546657,-1087.582969,-37.446566,719.775662,1366.794137,1971.546745,2576.299352,3223.317827,3980.540056,5030.676458
27,RD_E_S,2021-01-30,-7.621764,-1581.439667,-1041.180304,-651.615293,-318.746355,-7.621764,303.502826,636.371764,1025.936775,1566.196138
28,BC_E_S,2021-01-30,3280.315475,593.984486,1516.146753,2181.090626,2749.260649,3280.315505,3811.370360,4379.540383,5044.484256,5966.646523
29,CR_A_J,2021-01-30,122.929100,-1543.563536,-971.490837,-558.986173,-206.516147,122.929109,452.374365,804.844391,1217.349055,1789.421753
30,BC_D_J,2021-01-30,2849.585055,266.765371,1153.394365,1792.716249,2338.993226,2849.585179,3360.177132,3906.454109,4545.775993,5432.404987
31,CR_B_J,2021-01-30,-30.727118,-2214.806321,-1465.056787,-924.434624,-462.492920,-30.727118,401.038683,862.980388,1403.602551,2153.352084
32,RD_D_S,2021-01-30,305.861348,-1189.329077,-676.060909,-305.958449,10.280456,305.861356,601.442256,917.681161,1287.783621,1801.051789
33,TG_A_J,2021-01-30,857.225220,-4247.566972,-2495.196643,-1231.614348,-151.929866,857.225252,1866.380371,2946.064852,4209.647148,5962.017476
34,CR_C_J,2021-01-30,852.320620,-1938.059990,-980.179632,-289.480502,300.696437,852.320629,1403.944821,1994.121760,2684.820890,3642.701248
35,RD_D_J,2021-01-30,-66.123344,-1555.907813,-1044.495403,-675.731075,-360.635554,-66.123348,228.388858,543.484380,912.248708,1423.661118
36,CR_D_J,2021-01-30,833.227994,-113.811991,211.287388,445.706913,646.009754,833.228001,1020.446249,1220.749090,1455.168614,1780.267993
37,TG_E_J,2021-01-30,1329.709692,-3129.105356,-1598.485714,-494.801265,448.256402,1329.709723,2211.163045,3154.220712,4257.905161,5788.524803
38,RD_F_J,2021-01-30,513.067879,-430.917233,-106.866523,126.796838,326.453565,513.067905,699.682246,899.338972,1133.002333,1457.053044

In [21]:
def price_comparison(pred, df_concat, date):
    date = pd.to_datetime(date)
    pred = pred[['item_id', "timestamp",'mean']]
    df_previous = df_concat[df_concat['timestamp'] == date - pd.DateOffset(years=1)].copy()
    df_previous['item_id'] = df_previous.ID.str[0:6]

    comparison_df = pd.merge(
    df_previous[['item_id', 'price(원/kg)']].rename(columns={'price(원/kg)': 'price_previous'}),
    pred[['item_id', 'mean']].rename(columns={'mean': 'mean_current'}),
    on='item_id',
    how='inner'
                )
    comparison_df['price_increase_percent'] = ((comparison_df['mean_current'] - comparison_df['price_previous']) / comparison_df['price_previous']) * 100
    comparison_df[['item_id', 'price_previous', 'mean_current', 'price_increase_percent']]
    comparison_df = comparison_df[np.isfinite(comparison_df['price_increase_percent'])] # 값 폭주하는 거 제거
    comparison_df = comparison_df[comparison_df['price_increase_percent'] > 0] # 양수만 남김
    item_mapping = {
        'TG': '감귤',
        'BC': '브로콜리',
        'RD': '무',
        'CR': '당근',
        'CB': '양배추'
    }
    
    # item_id의 첫 두 글자를 통해 품목 이름을 매핑하여 새로운 열 추가
    comparison_df['item_name'] = comparison_df['item_id'].str[:2].map(item_mapping)
    
    # 열 이름 변경
    comparison_df.rename(columns={'mean': 'mean_current'}, inplace=True)
    
    # 결과 반환
    return comparison_df[['item_id', 'item_name', 'price_previous', 'mean_current', 'price_increase_percent']]

In [175]:
compare = price_comparison(pred, df_concat, date = "2020-01-03")
compare

   item_id item_name  price_previous  mean_current  price_increase_percent
4   TG_C_J        감귤          1965.0   2034.278809                3.525639
37  CB_F_J       양배추           478.0    556.227600               16.365607
38  RD_F_J         무           395.0    487.160706               23.331824

In [176]:
compare.to_json("comparison_results.json", orient="records", force_ascii=False)

### mean이 예측값입니다

X년 Y월 Z일이 들어오면 X-1년 Y월 Z일의 가격 값이랑 비교. -> 상승 폭 제시

In [152]:
# df_2019 = df_concat[df_concat['timestamp'] == '2019-01-03'].copy()
# df_2020 = pred[pred['timestamp'] == '2020-01-01'].copy()
# df_2020['item_id'] = df_concat.ID.str[0:6]

In [153]:
# # Step 3: Merge and rename columns
# comparison_df = pd.merge(
#     df_2019[['item_id', 'price(원/kg)']].rename(columns={'price(원/kg)': 'price_2019'}),
#     df_2020[['item_id', 'mean']].rename(columns={'mean': 'mean_2020'}),
#     on='item_id',
#     how='inner'
# )

# # Step 4: Calculate the percentage increase from 2019 to 2020
# comparison_df['price_increase_percent'] = ((comparison_df['mean_2020'] - comparison_df['price_2019']) / comparison_df['price_2019']) * 100

# # Display the result
# comparison_df[['item_id', 'price_2019', 'mean_2020', 'price_increase_percent']]

In [31]:
def main(target_date = '2021-01-30'):
    # 데이터 불러오는 걸 너무 대충하긴 했는데...
    train_df = pd.read_csv("/home/yoon/Desktop/Others/open/train.csv")
    train_df = train_df[['ID', "timestamp", "supply(kg)", "price(원/kg)"]]

    weather_2019 = pd.read_csv("weather_average2019.csv")
    weather_2019.rename(columns={'TM': 'timestamp'}, inplace=True)
    weather_2020 = pd.read_csv("weather_average2020.csv")
    weather_2020.rename(columns={'TM': 'timestamp'}, inplace=True)

    train_df['timestamp'] = pd.to_datetime(train_df['timestamp'])
    weather_2019['timestamp'] = pd.to_datetime(weather_2019['timestamp'])
    weather_2020['timestamp'] = pd.to_datetime(weather_2020['timestamp'])
    weather = pd.concat([weather_2019, weather_2020])


    df_concat = pd.merge(train_df, weather, on='timestamp', how='left')
    df_concat.dropna(inplace=True)
    df_concat['item_id'] = df_concat['ID'].str[:6]

    data = TimeSeriesDataFrame(df_concat.drop(columns=['ID']))
    predictor = TimeSeriesPredictor( 
        prediction_length=30,
        target="price(원/kg)",
        eval_metric="RMSE",
    )
    # seed 고정
    predictor.fit( data, random_seed=42, )
    predictor.refit_full()
    pred = predictor.predict(data, random_seed=42, )
    pred = pred.reset_index()
    final_pred = pred.sort_values('timestamp').groupby('item_id').tail(1).reset_index(drop=True)
    compare = price_comparison(final_pred, df_concat, date = target_date)
    compare["item_id"] = compare["item_id"].str[:2]
    numeric_columns = compare.select_dtypes(include=[float, int]).columns
    compare_mean = compare.groupby("item_id")[numeric_columns].mean().reset_index()

    item_mapping = {
        'TG': '감귤',
        'BC': '브로콜리',
        'RD': '무',
        'CR': '당근',
        'CB': '양배추'
    }
    
    # item_id의 첫 두 글자를 통해 품목 이름을 매핑하여 새로운 열 추가
    compare_mean['item_name'] = compare_mean['item_id'].str[:2].map(item_mapping)
    
    # 열 이름 변경
    compare_mean.rename(columns={'mean': 'mean_current'}, inplace=True)

    return compare_mean

In [32]:
predictions = main('2021-01-30')
predictions

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241026_080327'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.12
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #47~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Wed Oct  2 16:16:55 UTC 2
CPU Count:          16
GPU Count:          1
Memory Avail:       3.60 GB / 15.25 GB (23.6%)
Disk Space Avail:   392.82 GB / 467.89 GB (84.0%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': RMSE,
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 30,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 42,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'price(원/kg)',
 'verbosity': 2}

Inferred time series frequency: 'D'
Provided train_data has 28509 rows, 39 time series. Median time series length is 731 (min=731, max=731).

Provided data contains following columns:
	target: 'price(원/kg)'
	past_covariates:
		categorical:        []
		continuous (float): ['supply(kg)', 'Unnamed: 0', 'WS_AVG', 'TA_AVG', 'TA_MAX', 'TA_MIN', ...]

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-10-26 17:03:27
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'Chronos[base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST']
Training timeseries model SeasonalNaive.
	-681.1301     = Validation score (-RMSE)
	0.02    s     = Training runtime
	0.05    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	-670.7668     = Validation score (-RMSE)
	28.77   s     = Training runtime
	0.50    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
/home/yoon/.local/lib/python3.10/site-packages/mlforecast/core.py:418: UserWarning: The following series were dropped completely due to the transformations and features: ['BC_A_J', 'BC_A_S', 'BC_B_J', 'BC_B_S', 'BC_C_J', 'BC_C_S', ...].
These series won't show up if you use `MLForecast.forecast_fitted_values()`.
You can set `dropna=False` or use transformations that require less samples to mitigate this
  warnings.warn(
	-1366.3756    = Validation score (-RMSE)
	0.50    s     = Training runtime
	0.07    s     = Validation (prediction) runtime
Training timeseries model CrostonSBA.
	Warning: CrostonSBA/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.05    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-1435.8500    = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.50    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	Warning: DynamicOptimizedTheta/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.02    s     = Training runtime
	0.05    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.04    s     = Validation (prediction) runtime
Training timeseries model AutoARIMA.
	Warning: AutoARIMA/W0 failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-681.1301     = Validation score (-RMSE)
	0.03    s     = Training runtime
	0.03    s     = Validation (prediction) runtime
Training timeseries model Chronos[base].
	Warning: Exception caused Chronos[base] to fail during training... Skipping this model.
	No module named 'transformers'
Training timeseries model TemporalFusionTransformer.
	Warning: Exception caused TemporalFusionTransformer to fail during training... Skipping this model.
	No module named 'lightning'
Training timeseries model DeepAR.
	Warning: Exception caused DeepAR to fail during training... Skipping this model.
	No module named 'lightning'
Training timeseries model PatchTST.
	Warning: Exception caused PatchTST to fail during training... Skipping this model.
	No module named 'lightning'
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoARIMA': 0.35, 'RecursiveTabular': 0.65}
	-666.6596     = Validation score (-RMSE)
	0.55    s     = Training runtime
	0.54    s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'WeightedEnsemble']
Total runtime: 31.41 s
Best model: WeightedEnsemble
Best model score: -666.6596
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	11.21   s     = Training runtime
Fitting model: DirectTabular_FULL
	0.50    s     = Training runtime
Fitting model: CrostonSBA_FULL | Skipping fit via cloning parent ...
Fitting model: NPTS_FULL | Skipping fit via cloning parent ...
Fitting model: DynamicOptimizedTheta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: AutoARIMA_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['SeasonalNaive_FULL', 'RecursiveTabular_FULL', 'DirectTabular_FULL', 'CrostonSBA_FULL', 'NPTS_FULL', 'DynamicOptimizedTheta_FULL', 'AutoETS_FULL', 'AutoARIMA_FULL', 'WeightedEnsemble_FULL']
Total runtime: 11.76 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble_FULL
	Warning: AutoARIMA_FULL failed for 39 time series (100.0%). Fallback model SeasonalNaive was used for these time series.

  item_id  price_previous  mean_current  price_increase_percent item_name
0      BC          1477.0   2888.272395               96.150192      브로콜리
1      RD           504.0    513.067879                1.799182         무
2      TG          1525.0   1655.940484                8.673095        감귤